distribut==0.6.24
wsgiref==0.1.2
git+https://github.com/adamrpah/mongod-engine.git
git+git://github.com/django-nonrel/django-nonrel.git@master
git+git://github.com/django-nonrel/django-permission-backend-nonrel.git@master
pymongo==2.4
