/* arcs.css */

html {
  background: url(../data/Paper6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0px;
	/*background-color: #ebebeb;*/
	/*background-color: #EEEEEE;*/

}

/* title */
#title {
	text-align: center;
	font-size: 45px;
	font-family: Optima;
	color: #6d687a;
	border-radius: 5px;
	margin: 20px;
}

/* filters box */
#filters {
	float: left;
	width: 250px;
	height: 170px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	color:#6d687a
}

.dropdown-and-header label {
	display: inline-block;
	width: 90px;
	margin-left: 20%;
	line-height: 40px;

}

#filters-header {
	font-family: Verdana, Tahoma, Arial;
	text-align: center;
	padding-top: 1px;
}


#info {
	margin-top: 80px;
}

#selected {
	position: absolute;
	top: 680px;
	left: 300px;
	border: 1px #000 solid;
	-moz-border-radius: 5px 5px;
	border-radius: 5px;
	padding: 5px;
}

.header {
	font-family: Verdana, Tahoma, Arial;
	display: inline-block;
	width: 80px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

p, h2 {
	line-height: 30px;
	font-family: Verdana;
}

#analysis-header {
	color: Blue;
}

.arc path {
    stroke: Black;
    stroke-width: 1;
    fill: none;
}

.arc path:hover {
	cursor: pointer;
    stroke: 'pink';
}
