/* arcs.css */

body {
	margin: 0px;
	/*background-color: #ebebeb;*/
	background-color: beige;
}

/* title */
#title {
	text-align: center;
	float: center;
	font-size: 25px;
	font-family: Optima;
	color: #6d687a;
	border-radius: 5px;
	margin: 10px;
}

/* filters box */
#filters {
	float: left;
	width: 250px;
	height: 170px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	color:#6d687a
}

.dropdown-and-header label {
	display: inline-block;
	width: 90px;
	margin-left: 20%;
	line-height: 40px;

}

#filters-header {
	font-family: Verdana, Tahoma, Arial;
	text-align: center;
	padding-top: 1px;
}

#selected {
	position: absolute;
	top: 400px;
	left: 0px;
	font-family: Verdana;
	font-size:14px;
}

.header {
	font-family: Verdana, Tahoma, Arial;
	display: inline-block;
	width: 60px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

p, h3 {
	line-height: 30px;
	font-family: Verdana;
}