{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Provenance History for Rare Manuscripts	</title>
	<link rel="stylesheet" type="text/css" href="../static/css/arcs.css">
	<script type="text/javascript">
	{% autoescape off %}
	var exchanges = {{ exchanges }};
	var manuscripts = {{ manuscripts }};
	{% endautoescape %}
	</script>
	<script src="../static/js/d3.v3.min.js", charset='utf-8'></script>
</head>


<body>
	<div id="selected">selected</div>
	<div id="title" style="height: 100%">Provenance History for Rare Manuscripts</div>
	<svg id="contradictions-chart" width="1200px" height="500px" style="margin-left:auto; margin-right:auto; display:block;"></svg>
	
	<div style="margin: 3%" id="info">

		<h2 class="analysis-header">What kind of data are displayed?</h2>

		<p>The data shown here represent the manuscripts catalogued in the Schoenberg Database of Manuscripts.
			This database is an enormous,<br/> publically-available repository of texts available prior to 1600.
		We offer a novel perspective on the relationships underlying these<br/> data through their visual presentation,
		in addition to a glimpse of the manuscripts' journey throughout history.</p>


		<hr/>

			<h2 class="analysis-header">What does this graph tell us?</h2>

			<p>A single path originates from a point and ends at another point. Such a path represents the exchange of a 
				manuscript between two parties.<br/> Multiple paths for a single manuscript indicate that this text has changed
				hands multiple times.</p>

			<p>A blue line descending from a point represents the nubmer of exchanges for a particular manuscript. This
				quantity goes hand in hand with <br/>the paths spanning the journey of the same manuscript.</p>
	</div>
	<script src="../static/js/arc.js"></script>
</body>
</html>
			<!-- Filters -->
	<!-- <div id="filters">
		<h2 id="filters-header">FILTER BY:</h2>

		
		<div class="dropdown-and-header">
			<label for="dropdown-language">Language: </label>
			populate with dummy values for now. No way I'm hardcoding all those languages
			<select class="dropdown" id="dropdown-language">
				<option value="french">French</option>
				<option value="latin">Latin</option>
				<option value="english">English</option>
			</select>

			
		</div>

		Language
		<div class="dropdown-and-header">
			<label for="dropdown-years">Starting year: </label>
			populate with dummy values for now. No way I'm hardcoding all those languages.
			<select class="dropdown" id="dropdown-years">
				<option value="french">1600</option>
				<option value="latin">1595</option>
				<option value="english">1590</option>
			</select>

			
		</div>
	-->


