{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<title>What?</title>

<script src="../static/js/d3.v3.min.js"></script>
</head>

<body>
<svg id="contradictions-chart" width="1200" height="500"></svg>

<script>
    var contra = null;
    var contraFilters = {
        book: null, /* Specific book name */
        chapter: null, /* Specific absolute chapter */
        type: null, /* Specific contradiction type */
        refCount: null, /* Specific range of references */
        crossBook: false, /* Only show cross-book contradictions */
        colorize: 'Crimson' /* Colorize the arcs */
    };
    function renderContra() {
    var chart = d3.select('#contradictions-chart')
        .selectAll('.arc')
        .data(contra.filter(function (d) {
            var i, found, match;

            // Filter out items that don't touch this chapter
            if (contraFilters.chapter !== null) {
                found = false;

                for (i = 0; i <= Math.min(d.refs.length - 1, 10); i++) {
                    if (getAbsoluteChapter(d.refs[i]) == contraFilters.chapter) {
                        found = true;
                        break;
                    }
                }

                if (!found) {
                    return false;
                }
            }

            // Filter out items that don't touch this book
            if (contraFilters.book !== null) {
                found = false;

                for (i = 0; i < Math.min(d.refs.length - 1, 10); i++) {
                    match = /(\d?\s*\w+)/.exec(d.refs[i]);

                    if (match && (match[1] == contraFilters.book || match[1] + 's' == contraFilters.book)) {
                        found = true;
                        break;
                    }
                }

                if (!found) {
                    return false;
                }
            }

            // Filter out the wrong type of item
            var regex;
            if (contraFilters.type !== null) {
                if (contraFilters.type == 'Other') {
                    // Exclude any of the listed types except 'All' and 'Other'
                    var keys = Object.keys(contraTypeFilters);
                    for (i = 0; i < keys.length; i++) {
                        regex = contraTypeFilters[keys[i]];
                        if (regex && regex.test(d.desc)) {
                            return false;
                        }
                    }
                } else {
                    // Include only this type
                    regex = contraTypeFilters[contraFilters.type];
                    if (regex && !regex.test(d.desc)) {
                        return false;
                    }
                }
            }

            return true;
        }),
        // Key function to compare values on insert/update/remove
        function (d) {
            return d.desc;
        });

    chart.enter().append('g')
        .attr('class', 'arc')
        .on('click', function (d) {
            var url = '/' + slugg(d.desc) + '-sab.html';
            //var url = 'http://www.skepticsannotatedbible.com/contra/' + d.url;

            // Handle [cmd/ctrl]+click and middle click to open a new tab
            if (newTab()) {
                window.open(url);
            } else {
                window.location = url;
            }
        })
        .on('mouseover', function (d) {
            d3.select('#contradictions-chart')
                .selectAll('.arc')
                .sort(function (a, b) {
                    return (a == d) ? 1 : -1;
                });

            d3.select('#selected')
                .html(d.desc + '<br/><span class="subdued">' + d.refs.join(', ').substr(0, maxLength) + '</span>');
        })
        .each(function (d, i) {
            var group = d3.select(this);

            if (d.refs.length > 1) {
                // Only show up to 10 refs, some have over 100...
                for (x = 0; x <= Math.min(maxArcs, d.refs.length - 2); x++) {
                    var start = getAbsoluteChapter(d.refs[x]);
                    var end = getAbsoluteChapter(d.refs[x + 1]);

                    if (start > end) {
                        var tmp = end;
                        end = start;
                        start = tmp;
                    }

                    var r = (end - start) * 0.51;
                    var ry = Math.min(r, 490);

                    if (!isNaN(start) && !isNaN(end) && !isNaN(r) && !isNaN(ry)) {
                        var path = 'M ' + start + ',399 A ' + r + ',' + ry + ' 0 0,1 ' + end + ',399 ';
                        group.append('path')
                            .attr('d', path)
                            .style('stroke', function (start, end) {
                                return colorize(start, end);
                            }(start, end));
                    }
                }
            }
        });

    chart.exit()
        .transition()
            .duration(350)
            .style('opacity', 0)
        .remove();

    // Update any highlighting from filters
    d3.select('#contradictions-chart')
        .selectAll('rect')
        .classed('selected', false);

    if (contraFilters.book !== null) {
        d3.select('#contradictions-chart')
            .selectAll('.b' + contraFilters.book.replace(/\s+/g, '').toLowerCase())
            .classed('selected', true);
    }
}

    d3.json('../static/data/contra.json', function(error, data) {
            contra=data;
            renderContra();
        }); 
    });
</script>

</body>
</html>
