{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<title>What?</title>

<script src="../static/js/d3.v3.min.js"></script>
</head>

<body>
  {%comment%}
  {% for t in transactions %}
  {{ t.manuscript_id }}
  {% endfor %}
  {%endcomment%}

<script>
    d3.select('body').append('svg')
        .attr('width', window.innerWidth)
        .attr('height', window.innerHeight);
    d3.text('../static/data/prov_counts.tsv', function(error, data){
        var parsed = d3.tsv.parseRows(data);
        d3.select('svg').selectAll('circle')
            .data(parsed)
            .enter()
            .append('circle')
            .attr('r', function(d) { console.log(console.dir(d)); return d[1]/100; })
            .attr('cx', function(d) { return Math.random()*window.innerWidth; })
            .attr('cy', function(d) { return Math.random()*window.innerHeight; });
        }); 
</script>

</body>
</html>
