{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<title>Schoenberg Library</title>
<link rel="stylesheet" type="text/css" href="./static/css/arcs.css">
<style>
#container {
	margin: 10%;
	margin-top: 0px;
}
</style>
<script src="../static/js/d3.v3.min.js"></script>
<script type="text/javascript">
</script>
</head>

<body>
<div id="container">
<h1 id="title">Schoenberg Library Data Visualizations</h1>
<p>Currently under construction</p>

<p>
{% url 'arcs' as the_url %}
{% if the_url %}
  <a href="{{ the_url }}">Provenance History of Manuscripts</a>
{% endif %}

	
</p>
</div>
</body>
</html>
